/* Member.css */
.SubmitButton {
    background-color: #ad88c6 !important;
    border-color: #ad88c6 !important;
    color: #ffffff !important;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
.SubmitButton:hover {
    background-color: #e1afd1 !important;
    border-color: #e1afd1 !important;
}

.SubmitButton:active,
.SubmitButton:focus {
  background-color: #ad88c6 !important;
  border-color: #ad88c6 !important;
  color: #ffffff !important;
}