body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sticky Navbar Styles */
.navbar.sticky {
  background-color: #ffffff; /* Change to desired color */
  box-shadow: 0 4px 2px -2px gray; /* Adds a shadow when sticky */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Main Card with Parallax Effect */
.main-card {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('./Assets/Images/lund.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.main-card h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.main-card p {
  font-size: 2rem;
  max-width: 60%;
}

.main-card h3 {
  margin-top: 40px;
}

.custom-bg {
  background-color: #F3CCF3;
}

/* Adjusting Navbar Item Spacing */
.navbar-nav li {
  margin: 0 10px;
}

.navbar-brand {
  margin-right: 20px; /* Adjust as needed */
}

.navbar-nav .nav-link {
  color: #000000; /* Change to desired color */
}

.navbar-nav .nav-link:hover {
  color: #555555; /* Change to desired hover color */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show the dropdown on hover */
}

